<div class="row">
    <div class="col-lg-6">
        <h2>Agregar Empleado</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Formulario</h2>
        <form action="">
                <div class="col-lg-12">
                    Nombre Completo
                </div>
                <div class="col-lg-12">
                    Correo
                </div>
                <div class="col-lg-12">
                    Fecha Ingreso
                </div>
                <div class="col-lg-12">
                    Teléfono
                </div>
                <div class="col-lg-12">
                    Estado Civil
                </div>
                <div class="col-lg-12">
                    Sexo
                </div>
                <div class="col-lg-12">
                    BOTONES
                </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="img/empleado.png" alt="Avatar" width="95%" height="95%">
    </div>
</div>
